<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Game</title>
</head>
<body>
    <h1>Data User</h1>
    <form method="POST" action="/users">
        <label for="username">USERNAME</label>
        <br>
        <input type="text" name="username">
        <br>
        <label for="password">PASSWORD</label>
        <br>
        <input type="pssword" name="pwd">
        <br>
        <input type="submit">
    </form>
</body>
</html>